venv
__pycache__
.vscode
desktop.ini
config.json
cache.json
fcs.log*
audit.jsonl
test.log
tests
pytest.ini
build/
data/
src/res/model.pkl
src/res/themes/*
!src/res/themes/gvbx.css
src/res/tmp*
src/res/*.csv