* {
    background-color: #202020;
    margin: 0px;
    border: none;
    padding: 0px;
}

QWidget {
    background-color: #202020;
    color: #d0d0d0;
}

QTextEdit,
QLineEdit {
    color: #e0e0e0;
    background-color: #202020;
    border: none;
    border-radius: 2px;
}

QLineEdit,
QComboBox,
QLabel#notification {
    background-color: #303030;
    color: #e0e0e0;
    border: none;
    border-radius: 2px;
}

QLabel#stopwatch {
    background-color: #252525;
}

QPushButton {
    background-color: #252525;
    color: #e0e0e0;
    border: none;
    border-radius: 2px;
}

QPushButton:hover,
QLabel#notification:hover {
    background-color: #2d2d2d;
}

QLabel {
    background-color: transparent;
    color: #d0d0d0;
}

QComboBox:pressed,
QPushButton:pressed {
    background-color: #353535;
}

QComboBox:checked,
QPushButton:checked {
    background-color: #3d3d3d;
}

QScrollBar:vertical {
    background-color: #1a1a1a;
    width: 15px;
    margin: 0px;
    border: none;
    border-radius: 2px;
}

QScrollBar::handle:vertical {
    background-color: #303030;
    min-height: 20px;
    border: none;
    border-radius: 2px;
}

QScrollBar::handle:vertical:hover {
    background: #444;
}

QScrollBar::add-line,
QScrollBar::sub-line {
    background: none;
    border: none;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

QMenu {
    background-color: #202020;
    color: #d0d0d0;
    border: none;
    border-radius: 2px;
}

QMenu::item {
    background-color: #202020;
    color: #d0d0d0;
    padding: 6px 12px;
    border-radius: 2px;
}

QMenu::item:selected {
    background-color: #2d2d2d;
}

QDialog {
    background-color: #202020;
    color: #d0d0d0;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
}

QLineEdit#qdialog {
    background-color: #202020;
    color: #e0e0e0;
    border: none;
    border-radius: 2px;
}